footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: auto;
}

.footer-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
